
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}
body {
  color: #333;
  font-family: Syne, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

* {
  box-sizing: border-box;
}

h1{
  color: #171717;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 56px;
  font-weight: 700;
  line-height: 44px;
}

h2{
  color: #171717;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  font-family: Gelion, sans-serif;
}

h3{
  color: #171717;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  font-family: Syne, sans-serif;
}

h5{
  color: #171717;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  font-family: Syne, sans-serif;
}

h6{
  color: #fff;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-family: Syne, sans-serif;
}

p{
  margin-bottom: 10px;
}